body {
  background: #091921;
 }
.calculator {
 position: absolute;
 top: 25%;
 left: 38%;

}
.display {
  background-color: white;
  padding: 15px;
  width: 250px;
  text-align: right;
  font-size: 25px;
}

button {
  padding: 10px;
  width: 67px;
  height: 45px;
  margin-top: 10px;
  border-radius: 50px;
  background-color:#0c2835;
  color: white;
  font-size: 20px;
  border:none;
  cursor: pointer;
}


#r1-1 {
  width: 208px;
}

#r5-1 {
  width: 138px;
}
