section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#price-input {
  width:50px;
}
#product-list{
  margin-right: 110px;
}

ul li {
  margin-top: 10px;
  font-size: 20px; 
}

.list {
  display: flex;
  flex-direction: row;
}

h1 {
  position:absolute;
  bottom:10%;
}

#sum {
  margin-left:15px;
}